<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.fastreachserve.mapper.business.BusinessDishMapper">
    <select id="page" resultType="entity.Dish">
        select * from dishes
        <where>
            <if test="name!=null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="status!=2">
                and status=#{status}
            </if>
        </where>
    </select>

</mapper>



